@media screen and (max-width:1200px)  {
    #desktop-nav{
        display:none;
    }
    #hamburger-nav{
        display:flex;
    }
}

/* 
@media screen and (max-width:1200px){
    #profile{
        flex-direction: column;

    }
    .section_pic-container img{
        width:60vw;
    }
} */